#head {
  padding: 15px;
  text-align: center;
  font-family: "lucida handwriting", cursive;
  font-size: 25px;
}
.topnav-right{
	float:right;
}

.topnav {
  display: flex; 
  align-items: center; 
   position: sticky;
  top: 0;
}

body {font-family: Verdana, sans-serif;
background-image: radial-gradient(#964734,#000)}

.topnav a {
  float: left;
  border-right: 1px solid #bbb;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #e7cfbc;
}

.active-page {
  background-color: #c98686;
}

.search-container {
  float: right;
  margin-left: auto; 
  display: flex; 
  align-items: center; 
}

.search-container input[type=text] {
  border-radius: 2px;
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  border: none;
  font-size: 17px;
}

.search-container button {
    padding: 6px 10px; 
    background-color: #f2b880; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
    margin-left: 7px;
	margin-right: 9px;
    cursor: pointer;
	height: 30px; 
    width: 70px;
}
/* Style inputs with type="text", select elements and textareas */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
   /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=password],select,textarea{
 /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.container {
  border-radius: 5px;
  padding: 20px;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
google {
  background-color: #dd4b39;
  color: white;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding:12px;
  align:center;
}
#man {
  background-color: #536F80;
  width: 40%;
  border: 10px solid #ffffff;
  padding: 50px;
  margin: 8px;
  height:800px;
}
img{
	float:right;
	width:45%;
	margin:8px;
	height:955px;
}
#value{
	background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button{
	padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color:green;
}
body{
	background-image: radial-gradient(#964734,#000);
}
footer{
	background-color:#32064A;
}