
.header {
  display: block;
  background-color: #fff4ec;
  padding: 15px;
  text-align: center;
  font-family: "lucida handwriting", cursive;
  font-size: 25px;
}


.topnav {
  background-color: #966b9d;
  display: flex; 
  align-items: center; 
   position: sticky;
  top: 0;
}

body {font-family: Verdana, sans-serif;
background:linear-gradient(to right,#964734,#0fa4af,#AFDDE5); 
}

.topnav a {
  float: left;
  border-right: 1px solid #bbb;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #e7cfbc;
}

.active-page {
  background-color: #c98686;
}

.search-container {
  float: right;
  margin-left: auto; 
  display: flex; 
  align-items: center; 
}

.search-container input[type=text] {
  border-radius: 2px;
  padding: 6px;
  border: none;
  float: center;
  font-size: 17px;
}

.search-container button {
    padding: 6px 10px; 
    background-color: #f2b880; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
	height: 30px; 
    width: 70px;
}

.submit{
    padding: 6px 10px; 
    background-color: #f2b880; 
    border: none; 
    border-radius: 4px; 
    font-size: 20px; 
    cursor: pointer;  
    cursor: pointer;
	height: 50px; 
    width: 90px;
}
.viewprofile{
	text-decoration: none;
    background-color: #f2b880; 
    border-radius: 4px; 
    font-size: 20px; 
    cursor: pointer;
	height: 30px; 
    width: 200px;
	float: right;
	align-items: center;
	
	
}

.register{
	float: right;
	margin-left: auto; 
	display: flex; 
	align-items: center;
}

.login{
	padding: 6px 10px; 
    background-color: #f2b880; 
    border: none; 
    border-radius: 4px; 
    font-size: 20px; 
    cursor: pointer; 
    margin-left: 7px;
	margin-right: 9px;
    cursor: pointer;
	height: 20px; 
    width: 90px;
}

.registerAs{
	padding: 6px 10px; 
    background-color: #f2b880; 
    border: none; 
    border-radius: 4px; 
    font-size: 20px; 
    cursor: pointer; 
    margin-left: 7px;
	margin-right: 9px;
    cursor: pointer;
	height: 20px; 
    width: 200px;
}
	



